
.title{
	text-align:left;
	margin:0 auto;
	width:70%;
	margin-top:5%;
	border-bottom:1px solid silver;
}
.title > a{
	font-size:40px;
	font-family:'微软雅黑';
}
.title > span{
	font-size:16px;
	display:block;
	font-family:'微软雅黑';
}
.right{
	width:30%;
	float:right;
	border-left:1px solid silver;
	height:80%;
}
.left{
	width:65%;
	float:left;
}
.left > div{
	margin-left:4%;
	margin-top:4%;
}
.category{
	width:80%;
	margin:0 auto;
}
.ul{
	width:50%;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	list-style: none;
}